@model IEnumerable<RentACar.Models.Car>

@{
    ViewBag.Title = "View";
}
[Authorized]
<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Make)</td>
    <td> @Html.DisplayFor(modelItem => item.Model)</td>
    <td> @Html.DisplayFor(modelItem => item.Year)</td>
<td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        @Html.RouteLink("Rental", new { action = "Create", controller = "Rental"})
    </td>
</tr>
}

</table>
