@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Confirmation";
}

<div class="center">
    <h5>Online Recipt</h5>
</div>
<div class=" row valign-wrapper">
    <div class="col s6 offset-s3 valign">
        <div class="card-panel hoverable" style="width: 548px;">
          
            <div class="card-content">
                @User.Identity.Name Rented:
                <div class="center-align">
                    <h5>Vehicle: @ViewBag.CarName</h5>
                    <h5>Name: @ViewBag.FirstName @ViewBag.LastName</h5>
                    <h5>Your Preliminary Total is: $@ViewBag.Total</h5>
                    <br />
                    <h4>You have @ViewBag.DaysUse days left until the vehicle has to be returned</h4>

                </div>




            </div>
            <div style="padding-top:50px">
                <a href="/Rental/Index" class="btn btn black">View my Orders</a>
            </div>
        </div>


    </div>
</div>


