@model IEnumerable<RentACar.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="responsive-table highlight">

    @{ if (ViewBag.Shown == true)
        {
            <thead>
                <tr>
                    <th>Car </th>
                    <th>Date Start</th>
                    <th>Date End</th>
                    <th>First Name </th>
                    <th>Last Name </th>
                </tr>
            </thead>
        }
    }

    <tbody>
        @{ if (ViewBag.Shown == true)
            {
                foreach (var Item in ViewBag.ListOfRentals)
                {

                    <tr>


                        <td>@Item.CarName</td>
                        <td>@Item.StartDate</td>
                        <td>@Item.EndDate</td>
                        <td>@Item.FirstName</td>
                        <td>@Item.LastName</td>



                    </tr>

                }
            }
            else
            {
                <h3>You do not have any Rentals!</h3>
            }
        }

    </tbody>
</table>


<a class="btn btn-default" href="/Home/Index" style="margin-bottom: 10px;">Return</a>
<br />
